@charset "UTF-8";
@import "reset";

@import "common/header";
@import "common/footer";
@import "common/layout";


//sub
@import "sub/board";

.list {
  opacity: 0;
  transform: translateY(200px);
  transition: 1s;

  &.on {
    opacity: 1;
    transform: translateY(0px);
  }
}



